.h_1{
    color: #ecd2a1;
}
.loginBtn{
    background: #42556d;
    font-family: monospace;
    font-size: 20px;
}
.loginBox {
    position: absolute;
    margin: auto;
    top: 15%;
    right: 0;
    left: 0;
    padding: 0 30px;
    display: inline-block;
    max-width: 380px;
    width: 100%;
    overflow: hidden;
}
.row {
    margin: 40px auto 15px;
    text-align: center;
}

.loginContainer {
    position: relative;
    display: inline-block;
    border: 3px solid #ecd2a1;
    background: #2b3746 ;
    z-index: 2;
}

.clearfix{
    margin-top: 25px;
}
.inpt{
    color: #42556d;
    font-family: monospace;
    font-size: 15px;
}
