.h_1{
    color: #42556d;
}
.loginBtn{
    background: #42556d;
    font-family: monospace;
    font-size: 20px;
}
.loginBox {
    position: absolute;
    margin: auto;
    top: 15%;
    right: 0;
    left: 0;
    padding: 0 30px;
    display: inline-block;
    max-width: 380px;
    width: 100%;
    overflow: hidden;
}
.row {
    margin: 40px auto 15px;
    text-align: center;
}
.chooseLang {
    margin: 15px 0;
}
.chooseLang .form-control.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    display: inline;
    width: auto;
    border-color: transparent;
    border-bottom-color: rgba(0,0,0,.5);
    box-shadow: none;
    padding: 0 12px;
    height: 25px;
    color: #ecd2a1;
     background: #42556d;
}
.loginContainer {
    position: relative;
    display: inline-block;
    border: 3px solid #ecd2a1;
    background: #2b3746 ;
    z-index: 2;
}
.clearfix{
    margin-top: 25px;
}
.inpt{
    color: #42556d;
    font-family: monospace;
    font-size: 15px;
}