
.login-box.loaded, html.lt-ie9 .login-box, html.no-js .login-box {
    height: auto;
    overflow: initial;
}
.login-box {
    position: relative;
    padding: 0 30px;
    display: inline-block;
    max-width: 380px;
    width: 100%;
    overflow: hidden;
    height: 155px;
}
.login-container {
    position: relative;
    display: inline-block;
    border: 3px solid #ed6c1e;
    border: 3px solid rgba(237,106,28,.5);
    background: #ecf0f1;
    background: rgba(236,240,241,.8);
    z-index: 2;
}
div {
    display: block;
}
Style Attribute {
    text-align: center;
    vertical-align: middle;
}
td {
    font-family: 'Open Sans', sans-serif;
    color: #5e5e5e;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
}
.login-box .row {
    margin: 40px auto 15px;
    max-width: 300px;
    width: 100%;
    text-align: center;
}
