.circle_Div{
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #2b3746;
    margin: 0 4px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    animation: pulse 1s ease infinite;
}
@media (max-width: 800px) {
    .circle_Div {
        width: 60px;
        height: 80px;
        
    }
    .dd_01{
        font-size: 45px !important;
    }
  }
.dd_01{
    font-size: 65px;
    display: block;
    margin-top: -1px;
    margin-bottom: -26px;
    font-family: 'Tangerine', cursive;
    // font-family: 'Satisfy', cursive;
}
.dd_02{
    text-transform: uppercase;
    font-size: 12px;
    font-family: monospace;
}