.circle_Div{
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #2b3746;
    margin: 0 4px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    animation: pulse 1s ease infinite;
}
.dd_01{
    font-size: 30px;
    display: block;
    margin-top: 17px;
    margin-bottom: -6px;
    font-family: 'Satisfy', cursive;
}
.dd_02{
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Satisfy', cursive;
}