.navbarColor{
    background-color: #ecd2a1;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: #CBA27A;
}
ul {
    list-style-type: none;
    margin: 0;
}
li {
    float: left;
}
li a {
    color: #2F4259;
}
.active {
    background-color: #CBA27A;
}
li a, .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 1vw;
    text-decoration: none;
}
.az_001{
    font-family: fantasy;
    font-size: 15px;
}

.logOffBtn{
    background: #42556d;
    color: #CBA27A !important;
}
.logOffBtn:hover { 
    color: #2F4259 !important;
}
.emptySpaceCol {
    width: 25%;
    float: left;
}
@media (max-width: 615px) {
    .flagCol {
        width: 100%;
        float: left;
    }
    .navListCol {
        width: 100%;
        float: left;
    }
    .emptySpaceCol{
        width: 0%;
        float: none;
    }
}