// .overlay_Div{
//     z-index: 0;
//     bottom: 0;
//     top: 0px;
//     left: 0;
//     right: 0;
//     height: 475px;
//     width: 100%;
//     background-image: url(https://freyjax3-e0639.firebaseapp.com/assets/pic001.png);
//     background-color: black;
//     background-size: cover;                     
//     background-repeat: no-repeat;
//     background-position: inherit; 
// }
// .center_Div{
//     padding-top: 60px;
//     text-align: center;
//     display: table;
//     margin: 10px auto;
// }
// .p_001{
//     margin-top: 60px;
// }

// a:visited {
//     color: #ecd2a1;
// }
// .date_picker_div{
//     top: 0.9em;
//     left: -46px;
// }
// .section {
//     text-align: center;
// 	clear: both;
// 	padding: 0px;
//     margin: 0px;
//     min-height: calc(40vh - 60px);
//     background:#2b3746;
//     font-family: 'Satisfy', cursive;
//     font-size: 30px;
//     .secDiv{
//         font-family: 'Lato', sans-serif;
//         font-size: 20px;
//     }
//     .h2_z{
//         font-family: 'Lato', sans-serif;
//         font-size: 35px;
//     }
// }
// .col {
// 	display: block;
// 	float:left;
// 	margin: 0% 0 1% 6%;
// }
// .col:first-child { margin-left: 0; }

// .group:before,
// .group:after { content:""; display:table; }
// .group:after { clear:both;}
// .group { zoom:1;}

// .span_3_of_3 { width: 100%; }
// .span_2_of_3 { width: 64.66%; }
// .span_1_of_3 { width: 29.33%; }

// .div_maps{
//     margin-top: 40px;
//     margin-left: 21px;
//     border: 1px;
// }
// .div2_maps{
//     margin-top: 40px;
//     margin-left: 15px;   
// }

.pContact{
    margin-top: 60px;
}
.contactBtn{
    text-decoration: none;
    margin: 20px;
    padding: 15px 20px;
    background: #2b3746 !important;
    border: none !important;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 4px;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 400;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: #ecd2a1;
    font-family: monospace;
}

.doomCenter {
    padding-top: 60px;
    text-align: center;
    display: table;
    margin: 10px auto;
    color: #ecd2a1;
}
.datePicker{
    top: 0.9em;
    left: -46px;
    background: #000;
    color: white;
}
@media (min-width: 700px) {
 .leading {
    align-items: center;
  }
}
.leading {
  height: 410px;
  margin-bottom: 30px;
  padding: 30px;
  background: url('https://freyjax3-e0639.firebaseapp.com/assets/pic001.png') center #333 no-repeat;
  background-size: cover;
  text-shadow: 0px 0px 5px #000;
}
.secRow{
     color: #ecd2a1;
     text-align: center;
}
.cards {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    // grid-gap: 30px;
  }
  .cards {
    max-width: 960px;
  }
  
  article {
    position: relative;
  }
  
  .article-img {
    height: 265px;
    object-fit: cover;
  }
  
  .h1z{
    font-size: 62px;
    margin-top: -11px;
    margin-bottom: -21px;
    font-family: 'Tangerine', cursive;
  }
  .h2z{
       font-family: fantasy;
    font-size: 25px;
  }
  .secDiv{
    font-family: monospace;
  }