.pContact{
    margin-top: 60px;
    margin-bottom:  30px;
}
.contactBtn {
    text-decoration: none;
    margin: 20px;
    padding: 15px 20px;
    background: #2b3746 !important;
    border: none !important;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 4px;
    margin-bottom: 4px;
    font-weight: 400;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: #ecd2a1;
    font-family: monospace;
}
  @media (max-width: 800px) {
    .contactBtn {
        font-size: 12px;
    }
  }
.doomCenter {
    padding-top: 60px;
    text-align: center;
    display: table;
    margin: 10px auto;
    color: #ecd2a1;
}
@media (max-width: 800px) {
  .doomCenter {
    padding-top: 0px;
    margin-top: -40px;
  }
  .pContact{
    margin-top: 230px;
    margin-bottom:  30px;
}
}
.datePicker{
    top: 0.9em;
    left: -46px;
    background: #000;
    color: white;
}
@media (min-width: 800px) {
 .leading {
    align-items: center;
    background: url('https://freyjax3-e0639.firebaseapp.com/assets/pic001.png') center #333 no-repeat;
  }
}
@media (max-width: 800px) {
  .leading {
    background: url('https://freyjax3-e0639.firebaseapp.com/assets/pic002.png') center #333 no-repeat;
<<<<<<< HEAD
    background-size: contain !important;
=======
  }
  .spacer800w{
    margin-top: 150px;
  }
  .doomCenter{
        padding-top: 0px;
>>>>>>> 13956f2702baf7ec6325db97be6f5016ae2491ef
  }
}
.leading {
  height: 444px;
  margin-bottom: 30px;
  padding: 30px;
  background-size: cover;
  text-shadow: 0px 0px 5px #000;
}

@media (min-width: 700px) {
  .leading {
     align-items: center;
   }
 }

.secRow{
     color: #ecd2a1;
     text-align: center;
}
  .cards {
    max-width: 960px;
  }
  
  article {
    position: relative;
  }
  
  .article-img {
    height: 265px;
    object-fit: cover;
  }
  
  .h1z{
    font-size: 37px;
    // font-family: 'Tangerine', cursive;
    font-family: 'Dancing Script', cursive;
    line-height: 48px;
  }
  .h2z{
    font-family: fantasy;
    font-size: 25px;
  }
  .secDiv{
    font-family: monospace;
  }